<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>My Simple Blog</h1>
    <!-- 글 목록 -->
    <br>
    <a href="{% url 'new' %}">HTML form을 이용한 새 글 작성</a>
    <a href="{% url 'django_form' %}">django form을 이용한 새 글 작성</a>
    <a href="{% url 'djangomodel_form' %}">django model form을 이용한 새 글 작성</a>
</body>

</html>